html, body {
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100%;
    background-color: rgb(64, 64, 64);
}

#theMenu{
    background-color: rgb(128,128,128);
    position: absolute;
}

#start{
    background-color: black;
    color: white;
}

#fps{
    position: absolute;
    right: 0;
    bottom: 0;
}

#fps, #cfps-label, #dfps-label{
    display: flex;
}

#cfps{
    margin-right: 1vw;
}

#stats{
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    color: white;
    padding: 0px;
    border-spacing: 0px;
    
}

.cell{
    border: solid 1px white;
    margin: 0px;
}
#hide{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}



#theCanvas{
    cursor: none;
}